{"RowQuestion" [:map {:closed true} [:title {:optional true} :string]],
 "QuestionItem"
 [:map
  {:closed true}
  [:question {:optional true} [:ref "Question"]]
  [:image {:optional true} [:ref "Image"]]],
 "FormResponse"
 [:map
  {:closed true}
  [:answers {:optional true} [:map-of :string :any]]
  [:respondentEmail {:optional true} :string]
  [:responseId {:optional true} :string]
  [:formId {:optional true} :string]
  [:createTime {:optional true} :string]
  [:totalScore {:optional true} :double]
  [:lastSubmittedTime {:optional true} :string]],
 "Empty" [:map {:closed true}],
 "DateQuestion"
 [:map
  {:closed true}
  [:includeYear {:optional true} :boolean]
  [:includeTime {:optional true} :boolean]],
 "MediaProperties"
 [:map
  {:closed true}
  [:alignment
   {:optional true}
   [:enum "ALIGNMENT_UNSPECIFIED" "LEFT" "RIGHT" "CENTER"]]
  [:width {:optional true} :int]],
 [:forms :set-publish-settings] [:ref "SetPublishSettingsRequest"],
 "PublishSettings"
 [:map
  {:closed true}
  [:publishState {:optional true} [:ref "PublishState"]]],
 "Request"
 [:map
  {:closed true}
  [:deleteItem {:optional true} [:ref "DeleteItemRequest"]]
  [:createItem {:optional true} [:ref "CreateItemRequest"]]
  [:updateSettings {:optional true} [:ref "UpdateSettingsRequest"]]
  [:updateFormInfo {:optional true} [:ref "UpdateFormInfoRequest"]]
  [:moveItem {:optional true} [:ref "MoveItemRequest"]]
  [:updateItem {:optional true} [:ref "UpdateItemRequest"]]],
 "BatchUpdateFormResponse"
 [:map
  {:closed true}
  [:writeControl {:optional true} [:ref "WriteControl"]]
  [:form {:optional true} [:ref "Form"]]
  [:replies {:optional true} [:vector [:ref "Response"]]]],
 "QuestionGroupItem"
 [:map
  {:closed true}
  [:grid {:optional true} [:ref "Grid"]]
  [:image {:optional true} [:ref "Image"]]
  [:questions {:optional true} [:vector [:ref "Question"]]]],
 "TextQuestion"
 [:map {:closed true} [:paragraph {:optional true} :boolean]],
 "VideoItem"
 [:map
  {:closed true}
  [:video {:optional true} [:ref "Video"]]
  [:caption {:optional true} :string]],
 "Option"
 [:map
  {:closed true}
  [:value {:optional true} :string]
  [:goToAction
   {:optional true}
   [:enum
    "GO_TO_ACTION_UNSPECIFIED"
    "NEXT_SECTION"
    "RESTART_FORM"
    "SUBMIT_FORM"]]
  [:isOther {:optional true} :boolean]
  [:goToSectionId {:optional true} :string]
  [:image {:optional true} [:ref "Image"]]],
 "QuizSettings"
 [:map {:closed true} [:isQuiz {:optional true} :boolean]],
 "BatchUpdateFormRequest"
 [:map
  {:closed true}
  [:requests {:optional true} [:vector [:ref "Request"]]]
  [:writeControl {:optional true} [:ref "WriteControl"]]
  [:includeFormInResponse {:optional true} :boolean]],
 "Grading"
 [:map
  {:closed true}
  [:generalFeedback {:optional true} [:ref "Feedback"]]
  [:pointValue {:optional true} :int]
  [:whenWrong {:optional true} [:ref "Feedback"]]
  [:correctAnswers {:optional true} [:ref "CorrectAnswers"]]
  [:whenRight {:optional true} [:ref "Feedback"]]],
 "UpdateFormInfoRequest"
 [:map
  {:closed true}
  [:updateMask {:optional true} :string]
  [:info {:optional true} [:ref "Info"]]],
 "Video"
 [:map
  {:closed true}
  [:youtubeUri {:optional true} :string]
  [:properties {:optional true} [:ref "MediaProperties"]]],
 [:watches :create] [:ref "CreateWatchRequest"],
 "UpdateItemRequest"
 [:map
  {:closed true}
  [:location {:optional true} [:ref "Location"]]
  [:updateMask {:optional true} :string]
  [:item {:optional true} [:ref "Item"]]],
 "ListWatchesResponse"
 [:map
  {:closed true}
  [:watches {:optional true} [:vector [:ref "Watch"]]]],
 "Grade"
 [:map
  {:closed true}
  [:feedback {:optional true} [:ref "Feedback"]]
  [:score {:optional true} :double]
  [:correct {:optional true} :boolean]],
 "TextLink"
 [:map
  {:closed true}
  [:uri {:optional true} :string]
  [:displayText {:optional true} :string]],
 "TextItem" [:map {:closed true}],
 "Question"
 [:map
  {:closed true}
  [:fileUploadQuestion {:optional true} [:ref "FileUploadQuestion"]]
  [:choiceQuestion {:optional true} [:ref "ChoiceQuestion"]]
  [:ratingQuestion {:optional true} [:ref "RatingQuestion"]]
  [:timeQuestion {:optional true} [:ref "TimeQuestion"]]
  [:rowQuestion {:optional true} [:ref "RowQuestion"]]
  [:scaleQuestion {:optional true} [:ref "ScaleQuestion"]]
  [:textQuestion {:optional true} [:ref "TextQuestion"]]
  [:questionId {:optional true} :string]
  [:grading {:optional true} [:ref "Grading"]]
  [:required {:optional true} :boolean]
  [:dateQuestion {:optional true} [:ref "DateQuestion"]]],
 "Location" [:map {:closed true} [:index {:optional true} :int]],
 "ListFormResponsesResponse"
 [:map
  {:closed true}
  [:responses {:optional true} [:vector [:ref "FormResponse"]]]
  [:nextPageToken {:optional true} :string]],
 "TextAnswer" [:map {:closed true} [:value {:optional true} :string]],
 "RatingQuestion"
 [:map
  {:closed true}
  [:iconType
   {:optional true}
   [:enum "RATING_ICON_TYPE_UNSPECIFIED" "STAR" "HEART" "THUMB_UP"]]
  [:ratingScaleLevel {:optional true} :int]],
 "Info"
 [:map
  {:closed true}
  [:title {:optional true} :string]
  [:description {:optional true} :string]
  [:documentTitle {:optional true} :string]],
 "Watch"
 [:map
  {:closed true}
  [:createTime {:optional true} :string]
  [:eventType
   {:optional true}
   [:enum "EVENT_TYPE_UNSPECIFIED" "SCHEMA" "RESPONSES"]]
  [:expireTime {:optional true} :string]
  [:state
   {:optional true}
   [:enum "STATE_UNSPECIFIED" "ACTIVE" "SUSPENDED"]]
  [:target {:optional true} [:ref "WatchTarget"]]
  [:errorType
   {:optional true}
   [:enum
    "ERROR_TYPE_UNSPECIFIED"
    "PROJECT_NOT_AUTHORIZED"
    "NO_USER_ACCESS"
    "OTHER_ERRORS"]]
  [:id {:optional true} :string]],
 "Grid"
 [:map
  {:closed true}
  [:columns {:optional true} [:ref "ChoiceQuestion"]]
  [:shuffleQuestions {:optional true} :boolean]],
 "RenewWatchRequest" [:map {:closed true}],
 [:forms :create] [:ref "Form"],
 "ScaleQuestion"
 [:map
  {:closed true}
  [:highLabel {:optional true} :string]
  [:high {:optional true} :int]
  [:lowLabel {:optional true} :string]
  [:low {:optional true} :int]],
 [:watches :renew] [:ref "RenewWatchRequest"],
 "CreateWatchRequest"
 [:map
  {:closed true}
  [:watch {:optional true} [:ref "Watch"]]
  [:watchId {:optional true} :string]],
 "Response"
 [:map
  {:closed true}
  [:createItem {:optional true} [:ref "CreateItemResponse"]]],
 "CorrectAnswer"
 [:map {:closed true} [:value {:optional true} :string]],
 "ImageItem"
 [:map {:closed true} [:image {:optional true} [:ref "Image"]]],
 "PageBreakItem" [:map {:closed true}],
 "Form"
 [:map
  {:closed true}
  [:linkedSheetId {:optional true} :string]
  [:revisionId {:optional true} :string]
  [:publishSettings {:optional true} [:ref "PublishSettings"]]
  [:responderUri {:optional true} :string]
  [:formId {:optional true} :string]
  [:settings {:optional true} [:ref "FormSettings"]]
  [:items {:optional true} [:vector [:ref "Item"]]]
  [:info {:optional true} [:ref "Info"]]],
 "FileUploadQuestion"
 [:map
  {:closed true}
  [:folderId {:optional true} :string]
  [:types
   {:optional true}
   [:vector
    [:enum
     "FILE_TYPE_UNSPECIFIED"
     "ANY"
     "DOCUMENT"
     "PRESENTATION"
     "SPREADSHEET"
     "DRAWING"
     "PDF"
     "IMAGE"
     "VIDEO"
     "AUDIO"]]]
  [:maxFileSize {:optional true} :string]
  [:maxFiles {:optional true} :int]],
 "WriteControl"
 [:map
  {:closed true}
  [:targetRevisionId {:optional true} :string]
  [:requiredRevisionId {:optional true} :string]],
 "MoveItemRequest"
 [:map
  {:closed true}
  [:originalLocation {:optional true} [:ref "Location"]]
  [:newLocation {:optional true} [:ref "Location"]]],
 "SetPublishSettingsRequest"
 [:map
  {:closed true}
  [:updateMask {:optional true} :string]
  [:publishSettings {:optional true} [:ref "PublishSettings"]]],
 "PublishState"
 [:map
  {:closed true}
  [:isAcceptingResponses {:optional true} :boolean]
  [:isPublished {:optional true} :boolean]],
 "FileUploadAnswer"
 [:map
  {:closed true}
  [:fileId {:optional true} :string]
  [:fileName {:optional true} :string]
  [:mimeType {:optional true} :string]],
 "VideoLink"
 [:map
  {:closed true}
  [:youtubeUri {:optional true} :string]
  [:displayText {:optional true} :string]],
 "CreateItemRequest"
 [:map
  {:closed true}
  [:location {:optional true} [:ref "Location"]]
  [:item {:optional true} [:ref "Item"]]],
 "UpdateSettingsRequest"
 [:map
  {:closed true}
  [:settings {:optional true} [:ref "FormSettings"]]
  [:updateMask {:optional true} :string]],
 "FileUploadAnswers"
 [:map
  {:closed true}
  [:answers {:optional true} [:vector [:ref "FileUploadAnswer"]]]],
 "ChoiceQuestion"
 [:map
  {:closed true}
  [:type
   {:optional true}
   [:enum "CHOICE_TYPE_UNSPECIFIED" "RADIO" "CHECKBOX" "DROP_DOWN"]]
  [:options {:optional true} [:vector [:ref "Option"]]]
  [:shuffle {:optional true} :boolean]],
 "CloudPubsubTopic"
 [:map {:closed true} [:topicName {:optional true} :string]],
 [:forms :batch-update] [:ref "BatchUpdateFormRequest"],
 "CreateItemResponse"
 [:map
  {:closed true}
  [:itemId {:optional true} :string]
  [:questionId {:optional true} [:vector :string]]],
 "ExtraMaterial"
 [:map
  {:closed true}
  [:video {:optional true} [:ref "VideoLink"]]
  [:link {:optional true} [:ref "TextLink"]]],
 "CorrectAnswers"
 [:map
  {:closed true}
  [:answers {:optional true} [:vector [:ref "CorrectAnswer"]]]],
 "TextAnswers"
 [:map
  {:closed true}
  [:answers {:optional true} [:vector [:ref "TextAnswer"]]]],
 "FormSettings"
 [:map
  {:closed true}
  [:quizSettings {:optional true} [:ref "QuizSettings"]]
  [:emailCollectionType
   {:optional true}
   [:enum
    "EMAIL_COLLECTION_TYPE_UNSPECIFIED"
    "DO_NOT_COLLECT"
    "VERIFIED"
    "RESPONDER_INPUT"]]],
 "SetPublishSettingsResponse"
 [:map
  {:closed true}
  [:formId {:optional true} :string]
  [:publishSettings {:optional true} [:ref "PublishSettings"]]],
 "Image"
 [:map
  {:closed true}
  [:altText {:optional true} :string]
  [:contentUri {:optional true} :string]
  [:properties {:optional true} [:ref "MediaProperties"]]
  [:sourceUri {:optional true} :string]],
 "Feedback"
 [:map
  {:closed true}
  [:material {:optional true} [:vector [:ref "ExtraMaterial"]]]
  [:text {:optional true} :string]],
 "WatchTarget"
 [:map
  {:closed true}
  [:topic {:optional true} [:ref "CloudPubsubTopic"]]],
 "DeleteItemRequest"
 [:map {:closed true} [:location {:optional true} [:ref "Location"]]],
 "Item"
 [:map
  {:closed true}
  [:description {:optional true} :string]
  [:imageItem {:optional true} [:ref "ImageItem"]]
  [:pageBreakItem {:optional true} [:ref "PageBreakItem"]]
  [:questionItem {:optional true} [:ref "QuestionItem"]]
  [:title {:optional true} :string]
  [:textItem {:optional true} [:ref "TextItem"]]
  [:questionGroupItem {:optional true} [:ref "QuestionGroupItem"]]
  [:videoItem {:optional true} [:ref "VideoItem"]]
  [:itemId {:optional true} :string]],
 "TimeQuestion"
 [:map {:closed true} [:duration {:optional true} :boolean]],
 "Answer"
 [:map
  {:closed true}
  [:textAnswers {:optional true} [:ref "TextAnswers"]]
  [:questionId {:optional true} :string]
  [:fileUploadAnswers {:optional true} [:ref "FileUploadAnswers"]]
  [:grade {:optional true} [:ref "Grade"]]]}
