{"ListNotesResponse"
 [:map
  {:closed true}
  [:nextPageToken {:optional true} :string]
  [:notes {:optional true} [:vector [:ref "Note"]]]],
 "BatchCreatePermissionsRequest"
 [:map
  {:closed true}
  [:requests
   {:optional true}
   [:vector [:ref "CreatePermissionRequest"]]]],
 "Empty" [:map {:closed true}],
 "Attachment"
 [:map
  {:closed true}
  [:mimeType {:optional true} [:vector :string]]
  [:name {:optional true} :string]],
 "Permission"
 [:map
  {:closed true}
  [:family {:optional true} [:ref "Family"]]
  [:role {:optional true} [:enum "ROLE_UNSPECIFIED" "OWNER" "WRITER"]]
  [:email {:optional true} :string]
  [:name {:optional true} :string]
  [:group {:optional true} [:ref "Group"]]
  [:user {:optional true} [:ref "User"]]
  [:deleted {:optional true} :boolean]],
 "Note"
 [:map
  {:closed true}
  [:permissions {:optional true} [:vector [:ref "Permission"]]]
  [:trashTime {:optional true} :string]
  [:name {:optional true} :string]
  [:attachments {:optional true} [:vector [:ref "Attachment"]]]
  [:createTime {:optional true} :string]
  [:title {:optional true} :string]
  [:updateTime {:optional true} :string]
  [:trashed {:optional true} :boolean]
  [:body {:optional true} [:ref "Section"]]],
 "User" [:map {:closed true} [:email {:optional true} :string]],
 [:notes :create] [:ref "Note"],
 "Family" [:map {:closed true}],
 "Section"
 [:map
  {:closed true}
  [:list {:optional true} [:ref "ListContent"]]
  [:text {:optional true} [:ref "TextContent"]]],
 [:permissions :batch-delete] [:ref "BatchDeletePermissionsRequest"],
 "ListContent"
 [:map
  {:closed true}
  [:listItems {:optional true} [:vector [:ref "ListItem"]]]],
 "Group" [:map {:closed true} [:email {:optional true} :string]],
 "BatchCreatePermissionsResponse"
 [:map
  {:closed true}
  [:permissions {:optional true} [:vector [:ref "Permission"]]]],
 "TextContent" [:map {:closed true} [:text {:optional true} :string]],
 "ListItem"
 [:map
  {:closed true}
  [:text {:optional true} [:ref "TextContent"]]
  [:childListItems {:optional true} [:vector [:ref "ListItem"]]]
  [:checked {:optional true} :boolean]],
 "CreatePermissionRequest"
 [:map
  {:closed true}
  [:permission {:optional true} [:ref "Permission"]]
  [:parent {:optional true} :string]],
 [:permissions :batch-create] [:ref "BatchCreatePermissionsRequest"],
 "BatchDeletePermissionsRequest"
 [:map {:closed true} [:names {:optional true} [:vector :string]]]}
