{:keep "https://keep.googleapis.com/$discovery/rest?version=v1"
 :forms "https://forms.googleapis.com/$discovery/rest?version=v1"
 :docs "https://docs.googleapis.com/$discovery/rest?version=v1"
 :sheets "https://sheets.googleapis.com/$discovery/rest?version=v4"
 :gemini "https://generativelanguage.googleapis.com/$discovery/rest?version=v1beta"
 :jules "https://jules.googleapis.com/$discovery/rest"}
